<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Welcome to Nomad! Nomad is Thao's Ruby App that lets users keep track of
  where they would like to visit. Each user can create an account and make
  a list of dream destinations. It's a no-brainer to use. Have fun!
</p>
