<% provide(:title, "Help") %>
<h1>Help</h1>
<div id="help">
  <p> To use this application, follow these steps:</p>
  <p>1. Create a new account</p>
  <p>2. Start adding locations you would like to visit</p>
  <p>3. Rinse and repeat step 2</p>
</div>
